<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZeleznickaStanica.Properties.Settings.ZELEZNICKA_STANICAConnectionString"
            connectionString="Data Source=DESKTOP-45OV23N;Initial Catalog=ZELEZNICKA_STANICA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>